h1 {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

li {
    color: #fff;
    font-weight: bold;
}

span {
    color: green;
}

.box {
    background-color: lightslategray;
}

.border-bottom {
    border-bottom: solid black;
}

.margin-bottom {
    margin-bottom: 1.5rem;
}

.small-margin-bottom {
    margin-bottom: 0.5rem;
}

.black {
    color: black;
}
